<div id="<%= dom_id contato %>">
  <p>
    <strong>Nome:</strong>
    <%= contato.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contato.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= contato.telefone %>
  </p>

  <p>
    <strong>Whatsapp:</strong>
    <%= contato.whatsapp %>
  </p>

  <p>
    <strong>Horario preferencial:</strong>
    <%= contato.horario_preferencial %>
  </p>

</div>
