<% if @resultado == nil%>
  <div>
    <h3 id="titulo">Economia Verde</h3>
    <p id="apresentacao">Poupe salvando o planeta</p>
    <a href="/pages/informacoes" id="link" class="link">Veja a importância da Pensar Verde</a>
  </div>
<% end%>

<% if @resultado == nil%>
  <%= form_with(model: @page, url: pages_home_path, method: :post) do |form| %>
  <div>
    <label for="valor" id="label  " class="label">Digite o valor da sua fatura de energia em R$:</label>
    <input type="text" id="input" name="valor" oninput="formatarValor(this)" placeholder="R$ 0,00" required step="0.01">
    <span id="erro" class="span" style="color: red; display: none;">Valor inválido.</span>
  </div>

  <div>
    <button type="submit">Enviar</button>
  </div>

  <% end %>
<% end %>


<% if @resultado!=nil%>
  <p>Ao longo de 10 anos você poderia economizar <%= @resultado[:total] %> levando em conta a inflacao média em reais dos últimos 10 anos.</p>
  <p>Veja o que você poderia fazer com esse dinehiro :</p>
  <ul>
    <li>Comprar <%= @resultado[:chocolates] %> chocolates</li>
    <li>Comprar <%= @resultado[:cervejas] %> cervejas</li>
    <li>Comprar <%= @resultado[:pizzas] %> pizzas</li>
  </ul>
<%= form_with(model: @page, url: pages_home_path, method: :post) do |form| %>
    <a href="/contatos/new">Começar a Economizar</a>
    <a href="/pages/home"id="reset">Simular novamente ?</a>
  <% end %>

<% end %>
<%= javascript_import_module_tag "pages/home" %> 