<%= form_with(model: funcionario) do |form| %>
  <% if funcionario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(funcionario.errors.count, "error") %> proibiu este funcionário de ser salvo:</h2>

      <ul>
        <% funcionario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
    <%= form.label :cargo, "Cargo", style: "display: block" %>
    <%= form.select :cargo, Funcionario::CARGOS.keys.map { |k| [k] } %>
  </div>

  <div>
    <%= form.submit "Salvar" %>
  </div>
<% end %>
