<%= form_with(model: funcionario) do |form| %>
  <% if funcionario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(funcionario.errors.count, "error") %> proibiu este funcionário de ser salvo:</h2>

      <ul>
        <% funcionario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, "Nome", style: "display: block" %>
    <%= form.text_field :nome %>
  </div>
  
<% if @funcionario_logado.chefe?%>
  <div>
    <%= form.label :cargo, "Cargo", style: "display: block" %>
    <%= form.select :cargo, Funcionario::CARGOS.keys.map { |k| [k] } %>
  </div>
<% end %>

  <div>
  <% if funcionario.user.present? %>
    <%= form.label :email, "Email", style: "display: block" %>
    <%= form.text_field :email, value: funcionario.user.email %>
  <% else %>
    <%= form.label :email, "Email", style: "display: block" %>
    <%= form.text_field :email, value: "" %>
  <% end %>
</div>

  <% if action_name == 'edit' %>
    <div>
      <%= form.label :current_password, "Senha antiga", style: "display: block" %>
      <%= form.password_field :current_password %>
    </div>
  <% end %>

  <div>
    <%= form.label :password, "Senha", style: "display: block" %>
    <%= form.password_field :password%>
  </div>

  <div>
    <%= form.label :password_confirmation, "Confirmar senha", style: "display: block" %>
    <%= form.password_field :password_confirmation%>
  </div>

  <div>
    <%= form.submit "Salvar" %>
  </div>
<% end %>
